
    <ion-view view-title="Radio">
        <ion-content style="background: url(/android_asset/www/img/bordes%20de%20zona-.png);
    background-repeat: no-repeat;background-size: cover;">




           </ion-content>
        <footer>
            <ion-footer-bar class="bar-assertive">
                <a ng-controller="StreamRadio" class="button button-icon icon ion-play" onclick="playAudio2('http://rs1.domint.net:8006/')"></a>
                <a class="button button-icon icon ion-android-bicycle"  onclick="playAudio2('http://audio.ibeat.org/content/p1rj1s/p1rj1s_-_rockGuitar.mp3')"></a>
                <a class="button button-icon icon ion-pause" onclick="pauseAudio()"></a>
                <a class="button button-icon icon ion-stop" onclick="stopAudio()"></a>
                {{$scope.my_media}}
                <div>
                    <p id="audio_position"></p>
                </div>
            </ion-footer-bar>
        </footer>
    </ion-view>


    
</html>
